body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header {
    height: 40%;
    background: linear-gradient(90deg, #008c46 ,#006633);
    color: #fff;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Stylizacja kontenera nawigacji */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #006633; /* Tło nawigacji */
}

/* Stylizacja grupy linków w środku */
.nav-center {
    display: flex;
    gap: 15px; /* Odstępy między linkami */
    margin: 0 auto; /* Wyśrodkowanie linków */
    margin-right: 20px; /* Dodany odstęp na prawo */
}

/* Stylizacja przycisków w nawigacji */
.nav-center a {
    padding: 8px 16px;
    background: linear-gradient(90deg, #007d3f, #006d36); /* Gradient jako tło */
    color: white; /* Kolor tekstu */
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px; /* Zaokrąglone rogi */
    transition: background 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Płynne przejście przy hover */
    margin-left: 5px; /* Odstęp między przyciskami */
    border: none; /* Usunięcie domyślnego obramowania */
    cursor: pointer; /* Kursor wskaźnika */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Cień */
}

/* Efekt hover dla przycisków w nawigacji */
.nav-center a:hover {
    background: linear-gradient(90deg, #006d36, #007d3f); /* Odwrócony gradient przy hover */
    color: #ffd700; /* Złoty tekst przy hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Zwiększony cień przy hover */
}


.login-button {
    padding: 8px 16px;
    background: linear-gradient(90deg, #007d3f, #006d36);; /* Gradient jako tło */
    color: white; /* Kolor tekstu */
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px; /* Zaokrąglone rogi */
    transition: background 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Płynne przejście przy hover */
    margin-left: auto; /* Automatyczne przesunięcie na prawo */
    border: none; /* Usunięcie domyślnego obramowania */
    cursor: pointer; /* Kursor wskaźnika */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Cień */
}

.login-button:hover {
    background: linear-gradient(90deg, #006d36, #007d3f); /* Odwrócony gradient przy hover */
    color: #ffd700; /* Złoty tekst przy hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Zwiększony cień przy hover */
}


/* Dodatkowe style aktywnych linków */
nav a:active {
    background-color: #006f38; /* Twoje aktywne tło */
    color: white; /* Biały tekst */
}


section {
    padding: 20px;
    flex: 1;
}

footer {
    background: linear-gradient(90deg, #002713, #003a1d);
    color: #717171;
    text-align: center;
    font-size: 14px;
    padding: 2px 0; 
    margin-top: 10px; 
    position: relative;
    z-index: 1;
}

/*Tabela kontatkowa*/
.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.contact-info {
    flex: 1;
    max-width: 40%;
    font-size: 16px;
    line-height: 1.6;
}


.contact-form {
    flex: 1;
    max-width: 50%;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 10px; 
    font-weight: bold;
}

.contact-form button {
    margin-top: 20px;
    padding: 10px 20px;
    background: linear-gradient(90deg, #006633, #006f38);
    color: #fff;
    border: 2px solid #00543e; 
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #444;
}

.form-input {
    padding: 10px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/*Tabela cen*/

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    border-radius: 8px; 
}

table th {
    background: linear-gradient(#009048, #006633, #003d1f);
    color: #fff;
    padding: 12px;
    text-align: center;
}

table td {
    padding: 10px; 
    border: 1px solid #ddd;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table tr:hover {
    background-color: #e8f5e9; 
    transition: background-color 0.3s ease;
}


@media screen and (max-width: 600px) {
    table {
        font-size: 14px; 
    }

    table th, table td {
        padding: 8px; 
    }
}


h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
}
h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: -20px;
    font-size: 2rem;
}
h4{
    text-align: center;
    margin:auto;
    font-size: 2rem;
}
/*Historia pdr*/
.conthistory{
    padding:20px;
}
/*O nas*/
.about-section {
    display: flex;
    padding: 2rem;
}

.about-left {
    flex: 1;
    padding-right: 2rem;
}

.about-right {
    flex: 1;
    max-height: 12cm;
    overflow: hidden;
    transition: transform 0.3s ease;
    
}

.about-right img {
    width: 100%;         
    height: 100%;        
    object-fit: cover; 
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   
    &:hover {
        transform: scale(1.1);
    }
}


/*Galeria*/
.twenty-twenty-container {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 30px auto;
    overflow: hidden;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.twenty-twenty-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

@media screen and (max-width: 768px) {
    .twenty-twenty-container {
        max-width: 100%;
    }
    .twenty-twenty-container img {
        height: auto;
    }
}

